@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;
  }
}


:root {
  scroll-behavior: smooth;
  --scrollbar-color-thumb: rgba(120,120,120, 0.33);
  --scrollbar-color-track: rgba(120,120,120, 0.15);
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 0.5em;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  scrollbar-width: var(--scrollbar-width);
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    border-radius: var(--radius);
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }
  ::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
